.btn{
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    border: none;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    height: auto;
    padding: 13px 30px;
    transition: .3s ease-in;
    transform: translateY(0);
    border-radius: 4px;
    box-shadow: 0px 2px 10px 0px rgba(0,51,96,0.15);
    font-size: calc(15px + (18 - 15) * ((100vw - 400px) / (1920 - 300)));
    font-family: "Roboto",sans-serif;
    color: var(--primary-btn-bg-color);
    background: #373e47;
    color: #adbac7;
    font-weight: 400;
    border: 1px solid #464e58;
    &:hover{
        background: hsl(214, 13%, 35%);
        border-color: hsl(213, 11%, 41%);
    }
    &--accountpage{
        color: #ce504a;
        height: 3rem;
        width: 50rem;
        border: 2px solid #464e58;
        background: #373e47;
        &:hover{
            color: white;
            background: hsl(0, 100%, 65%);
            border: red;
        }
    }
    &--changeemail{
        height: 3rem;
        width: 9rem;
        font-size: 1.4rem;
        
    }
}

.input{
    background: #1c2128;
    border: #444c56 1px solid;
    color: #adbac7;
    padding-left: 1rem;
    border-radius: 3px;
    &:focus{
        outline: none;
    }
}

.nolink{
    color: inherit;
    text-decoration: none;
}